* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  color: white;
}

body {
  background-image: url("images/pattern.jpg");
  margin: 0;
  height: 100%;
  min-height: 100%;
}

.page-wrapper {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-header {
  color: #fff;
  margin: 0 0 30px 10px;
}

.items__wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.item-content__home,
.item-content__content,
.item-content__photos,
.item-content__about,
.item-content__contact{
  width: 120px;
  height: 135px;
  margin: 5px 5px 10px 10px;
  position: relative;
}

.item-content__hire,
.item-content__about-large {
  width: 256px;
  height: 135px;
  background-color: lavender;
  margin: 5px 5px 10px 10px;
  position: relative;
}

.item-content__blog {
  display: flex;
  width: 390px;
  height: 135px;
  position: relative;
  background-color: #1c1c1c;
  margin: 5px 5px 10px 10px;
}


.item-content__blog img {
  height: 135px;
  width: 120px;
}

.item__header {
  color: white;
}

.item-content__home{
  background-color: #38f;
}

.item-content__content {
  background-color: #f9be3e;
}

.item-content_hire{
  background-color: rgb(211,87,62);
}

.item-content__photos{
  background-color: rgb(89,176,226);
}

.item-content__about {
  background-color: rgb(51,175,149);
}

.item-content__about-large {
  background-color: rgb(134,167,63);
}

.item-content__contact {
  background-color: rgb(126,91,140);
}

.item__icon  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.item__header_blog {
  color: #fff;
  margin: 10px 0 0 10px;
  line-height: 20px;
}
