@media screen and (max-width: 768px) and (min-width:575px)  {
  .page-wrapper {
    top: 30px;
  }
}

@media screen and (max-width: 575px)  {
  .page-wrapper {
    top: 30px;
  }

  .items-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .item {
    height: 135px;
    flex-basis: 43.995%;
  }

  .item-hire {
    height: 135px;
    flex-basis: 91.735%;
  }

  .item-about {
    height: 135px;
    flex-basis: 91.735%;
  }

  .item-blog{
    height: 135px;
    flex-basis: 91.735%;
  }

  .item-contact {

    height: 135px;
    flex-basis: 91.735%;
  }

}