//@import "../common/styles/base";

.body {
  font-family: Arial, Helvetica, Avenir Next, Georgia, sans-serif;
}

a {
  text-decoration: none;
  text-underline: none;
  color: #505050;
}

ul {
  text-decoration: none;
  list-style-type: none;
  line-height: 2;
}

.page-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}