//@import "../common/styles/base";

.body {
  font-family: Arial, Helvetica, Avenir Next, Georgia, sans-serif;
}

a {
  text-decoration: none;
  text-underline: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
  line-height: 2;
}

.page-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.page-header {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 700px;
  background-image: url("../../assets/images/Cuba_header.png");
  &__name {
    margin: 0 auto;
    padding-top: 237px;
    width: 100%;
    max-width: 527px;
    height: 227px;
    font-family: Georgia;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }
  &__description {
    margin: 0 auto;
    padding-top: 180px;
    width: 100%;
    max-width: 406px;
    height: 27px;
    font-family: Georgia;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  }
  //&__border:before {
  //  content: "";
  //  width: 480px;
  //  height: 620px;
  //  position: absolute;
  //  border-bottom: 2px solid #ecb84c;
  //  border-left: 2px solid #ecb84c;
  //  border-top: 2px solid #ecb84c;
  //  margin: -428px 0 0 30px;
  //}
  //&__border:after {
  //  content: "";
  //  width: 480px;
  //  height: 620px;
  //  position: absolute;
  //  border-bottom: 2px solid #ecb84c;
  //  border-right: 2px solid #ecb84c;
  //  border-top: 2px solid #ecb84c;
  //  margin: -428px 0 0 930px;
  //}
}

  .page-nav {
    height: 45px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    &__menu {
      height: 24px;
      margin: 0 30px 0 30px;
      font-family: AvenirNext;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
    }
  }

.page-nav__menu:hover {
  border-bottom: 3px solid #ecb84c;
}

.page-content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid #d0d4d8;
  &__header {
    margin: 70px auto 40px auto;
    font-family: Georgia;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #4e5665;
  }
  &__info {
    margin: 30px auto;
    width: 100%;
    max-width: 970px;
    height: 100%;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #505050;
  }
  &__icon {
    width: 100%;
    max-width: 970px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d0d4d8;
  }
  &__icon-wrapper {
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  &__numbers {
    width: 100%;
    height: 100%;
    font-family: AvenirNext;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #4e5665;
  }
  &__text {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #909090;
  }
}

.readmore {
  color: #ecb84c;
  font-size: 16px;
}

.readmore:hover {
  color: salmon;
  transition: 0.4s;
}

.image {
  margin: 64px 235px 101px 235px;
  width: 970px;
  height: 430px;
  display: flex;
  &__background-street {
      width: 470px;
      height: 289px;
      background-color: #ffffff;
      box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
      z-index: 2;
      margin: 70px 0 70px 0;
      margin-right: -70px;
  }
  &__header {
      width: 220px;
      margin: 40px 227px 0 40px;
      font-family: Georgia;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.04;
      letter-spacing: normal;
      color: #4e5665;
  }
  &__description {
      margin: 16px 40px 40px 40px;
      font-family: AvenirNext;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #505050;
  }
  &__street {
    width: 570px;
    height: 428px;
    object-fit: contain;
    z-index: 1;
  }
  &__background-beach {
    width: 470px;
    height: 289px;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin: 70px 0 70px 0;
    margin-left: -70px;
  }
  &__beach img{
    width: 570px;
    height: 428px;
    object-fit: contain;
    z-index: 1;
    border-radius: 4px;
  }
}

.image-background__border:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  border-top: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c;
  margin: 19px 0 0 19px;
}

.image-background__border:after {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  margin: 237px 0 0 416px;
}

.car-content {
  width: 100%;
  max-width: 1440px;
  height: 680px;
  margin: 0 auto;
  border-bottom: 1px solid #d0d4d8;
  &__header {
    width: 305px;
    height: 38px;
    margin: 0 auto;
    font-family: Georgia;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #4e5665;
  }
  &__icon {
    width: 17px;
    height: 12px;
    background-color: #f6cd35;
  }
  &__header-text {
    width: 165px;
    height: 28px;
    margin: 10px auto;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #ecb84c;
  }
  &__image {
    width: 100%;
    max-width: 1170px;
    height: 330px;
    margin: 80px auto 60px auto;
    box-shadow: 0 7px grey;
  }
  &__description {
    width: 100%;
    max-width: 970px;
    height: 112px;
    margin: 30px auto;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #505050;
  }
}

.hover-point__bonnet {
  width: 32px;
  height: 32px;
  background-color: #ecb84c;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  margin: 126px auto 0 130px;
  &-dot {
    width: 10px;
    height: 10px;
    background-color: #ffd600;
    border-radius: 50%;
    position: absolute;
    margin: 11px auto 0 11px;
  }
}
.hover-point__door {
  width: 32px;
  height: 32px;
  background-color: #ecb84c;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  margin: 126px auto 0 500px;
  &-dot {
    width: 10px;
    height: 10px;
    background-color: #ffd600;
    border-radius: 50%;
    position: absolute;
    margin: 11px auto 0 11px;
  }
}
.hover-point__roof {
  width: 32px;
  height: 32px;
  background-color: #ecb84c;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  margin: 70px auto 0 770px;
  &-dot {
    width: 10px;
    height: 10px;
    background-color: #ffd600;
    border-radius: 50%;
    position: absolute;
    margin: 11px auto 0 11px;
  }
}
.hover-point__wheel {
  width: 32px;
  height: 32px;
  background-color: #ecb84c;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  margin: 283px auto 0 845px;
  &-dot {
    width: 10px;
    height: 10px;
    background-color: #ffd600;
    border-radius: 50%;
    position: absolute;
    margin: 11px auto 0 11px;
  }
}
.hover-point__bonnet:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  .dropdown__bonnet {
    display: block;
  }
}

.hover-point__door:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  .dropdown__door {
    display: block;
  }
}

.hover-point__roof:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  .dropdown__roof {
    display: block;
  }
}

.hover-point__wheel:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
  .dropdown__wheel {
    display: block;
  }
}

.dropdown__bonnet {
  display: none;
  width: 80px;
  height: 28px;
  margin: -140px 0 0 -190px;
  text-align: center;
  font-size: 20px;
  font-weight: normal ;
  font-family: Georgia;
  color: black;
}

.dropdown__door {
  display: none;
  width: 80px;
  height: 28px;
  margin: -140px 0 0 140px;
  text-align: center;
  font-size: 20px;
  font-weight: normal ;
  font-family: Georgia;
  color: black;
}

.dropdown__wheel {
  display: none;
  width: 80px;
  height: 28px;
  margin: -240px 0 0 255px;
  text-align: left;
  font-size: 20px;
  font-weight: normal ;
  font-family: Georgia;
  color: black;
}

.dropdown__roof {
  display: none;
  width: 180px;
  height: 28px;
  margin: -135px 0 0 140px;
  text-align: center;
  font-size: 20px;
  font-weight: normal ;
  font-family: Georgia;
  color: black;
}

.bonnet-line {
  margin: 70px 57.5px auto;
  width: 170px;
  height: 1px;
  transform: rotate(45deg);
  background-color: #ecb84c;
  transition: 0.5s;
  &__h {
    margin: -62px auto 0 -7px;
    width: 90px;
    height: 1px;
    background-color: #ecb84c;
    transition: 0.5s;
  }
}

.door-line {
  margin: 70px 0 0 -145px;
  width: 170px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: #ecb84c;
  transition: 0.5s;
  &__h {
    margin: -61px 0 0 0;
    width: 90px;
    height: 1px;
    background-color: #ecb84c;
    transition: 0.5s;
  }
}

.wheel-line {
  margin: 121px 0 0 -281px;
  width: 309px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: #ecb84c;
  transition: 0.5s;
  &__h {
    margin: -110px auto 0 -17px;
    width: 90px;
    height: 1px;
    background-color: #ecb84c;
    transition: 0.5s;
  }
}

.roof-line {
  margin: 65px 0 0 -146px;
  width: 170px;
  height: 1px;
  transform: rotate(-45deg);
  background-color: #ecb84c;
  transition: 0.5s;
  &__h {
    margin: -61px auto 0 -1px;
    width: 190px;
    height: 1px;
    background-color: #ecb84c;
    transition: 0.5s;
  }
}

.slider-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 900px;
  margin: 80px auto;
}
  .slider__header {
    width: 215px;
    height: 38px;
    margin: 0 auto;
    font-family: Georgia;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #4e5665;
  }
  .slider__description {
    width: 100%;
    max-width: 970px;
    height: 112px;
    margin: 42px auto;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #505050;
  }
  .slider__divider {
    width: 270px;
    height: 1px;
    margin: 50px auto;
    opacity: 0.5;
    background-color: #d0d4d8;
  }

.slider {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#slides{
  position: relative;
  height: 150px;
  margin: 0 auto;
  list-style-type: none;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  margin: 0 auto;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.footer {
  width: 100%;
  max-width: 1440px;
  height: 314px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-top: 1px solid #d0d4d8;
}

.footer-header {
  width: 147px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-name {
  width: 147px;
  height: 46px;
  margin: 54px 0 40px 0;
  font-family: AvenirNext;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #37c491;
}

.money-change {
  width: 140px;
  height: 30px;
  border-radius: 2px;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: solid 1px #d9dde1;
  text-align: center;
  font-size: 18px;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 224px;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 auto;
  color: #505050;
  font-size: 14px;
  font-family: Avenir Next;
  font-weight: normal;
  line-height: 1.5;
  &__info {
    text-align: left;
    align-items: left;
  }
  &__rights {
    margin: 50px auto;
    text-align: center;
    font-size: 14px;
    color: black;
    font-family: Avenir Next;
  }
  .footer-content__info-header {
    font-size: 15px;
    font-family: "Avenir Next";
    color: #4e5665;
    font-weight: normal;
  }
}
