@import "../styles/variables.scss";
@import './mixins.scss';


$navbar-height: 58px;
$page-nav-item-margin: 30px;
$page-nav-link-color: #ffffff;
$logo-font-size: 26px;



.page-header {
  background-color: #313a5a;
}

.page-nav {
  height:$navbar-height;
  display: flex;
  justify-content: space-between;
  @include pageContainer;
  &__logo {
    color: $page-nav-link-color;
    font-size: $logo-font-size;
    font-weight: normal;
    @include FlexCenterVertical;
  }
  &__toggle {
    display: none;
  }
  &__menu {
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 0 $page-nav-item-margin;
  }
  &__link {
    color: $page-nav-link-color;
    @include FlexCenterVertical;
    justify-content: center;
  }
}

.account-panel {
  display: flex;
  align-items: center;
  &__btn {
    margin: 0;
  }
}

.baner {
  display: flex;
  justify-content: space-between;
    &__img {
    width: 463px;
    height: 792px;
    background-image: url('../assets/images/artboard.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}