@import './variables.scss';

@mixin pageContainer {
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 $page-container-padding;
}

@mixin flexCenterVertical {
  display: flex;
  align-items: center;
}