* {
  box-sizing: border-box; }

html {
  font-size: 12px;
  font-family: Arial, sans-serif; }

body, ol, ul, h1, h2, h3, h4, h5, hr, p, figure {
  padding: 0;
  margin: 0; }

body {
  background-color: #f8f9fc; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.page-header {
  background-color: #313a5a; }

.page-nav {
  height: 58px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 16px; }
  .page-nav__logo {
    color: #ffffff;
    font-size: 26px;
    font-weight: normal;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .page-nav__toggle {
    display: none; }
  .page-nav__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (max-width: 719.9px) {
      .page-nav__menu {
        display: none; } }
  .page-nav__item {
    margin: 0 36px;
    display: -ms-flexbox;
    display: flex; }
  .page-nav__link {
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }

.account-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .account-panel__btn {
    margin: 0; }

.baner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 16px; }
  @media (max-width: 719.9px) {
    .baner {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; } }
  .baner__info {
    width: 563px;
    height: 403px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .baner__header {
    font-weight: normal;
    font-size: 48px;
    color: #ffffff;
    width: 512px;
    height: 114px; }
    @media (max-width: 719.9px) {
      .baner__header {
        width: 52%;
        height: 80px;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
        font-size: 30px; } }
  .baner__about {
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    width: 553px;
    height: 128px;
    line-height: 2; }
    @media (max-width: 719.9px) {
      .baner__about {
        width: 50%;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto; } }
  .baner__img {
    width: 463px;
    height: 792px;
    background-image: url(../assets/images/artboard.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 719.9px) {
      .baner__img {
        display: none; } }
  .baner__btn {
    width: 200px;
    height: 60px; }
    @media (max-width: 719.9px) {
      .baner__btn {
        width: 40%;
        display: block;
        margin: 10px auto; } }

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 16px 24px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px; }
  .btn_success {
    cursor: pointer;
    background-color: #1fdb84;
    box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6); }

.benefits {
  display: -ms-flexbox;
  display: flex;
  margin: -91px auto 100px auto;
  width: 100%;
  height: 420px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  z-index: 2;
  position: relative; }
  @media (max-width: 719.9px) {
    .benefits {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border-radius: 0;
      box-shadow: none; } }
  .benefits__container {
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 719.9px) {
      .benefits__container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; } }
  .benefits__content {
    width: 300px;
    height: 288px;
    margin: 66px 76px 66px 60px; }
    @media (max-width: 719.9px) {
      .benefits__content {
        margin: 26px 36px 26px 35px; } }
  .benefits__icon {
    width: 72px;
    height: 72px; }
  .benefits__header {
    margin: 28px 0 28px 0;
    font-size: 18px;
    color: #031d5b;
    font-weight: 500; }
  .benefits__line {
    width: 60px;
    height: 4px;
    background-color: #1fdb84; }
  .benefits__text {
    margin-top: 18px;
    width: 300px;
    height: 128px;
    font-size: 16px;
    color: #5b6c94;
    line-height: 2; }
    @media (max-width: 719.9px) {
      .benefits__text {
        width: 92%;
        font-size: 16px; } }

.paid-plan {
  width: 1257px;
  height: 940px;
  margin: 0 auto;
  margin-bottom: 100px; }
  @media (max-width: 719.9px) {
    .paid-plan {
      width: 100%; } }
  .paid-plan__header {
    width: 880px;
    height: 200px;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
    color: #32325c;
    margin: 0 auto; }
    @media (max-width: 719.9px) {
      .paid-plan__header {
        width: 100%;
        font-size: 18px;
        margin: 30px auto; } }
  .paid-plan__btn {
    width: 162px;
    height: 60px;
    background-color: #ffffff;
    border: solid 1px #aefdd9; }
    @media (max-width: 719.9px) {
      .paid-plan__btn {
        width: 30%;
        height: 20%;
        font-size: 70%;
        margin-top: 40px; } }
  .paid-plan__btn_success {
    width: 360px;
    height: 60px;
    margin-left: -14px;
    background-color: #1fdb84;
    border: solid 1px #aefdd9; }
    @media (max-width: 719.9px) {
      .paid-plan__btn_success {
        width: 55%;
        height: 20%;
        font-size: 70%;
        color: white; } }

.paid-plan__license {
  width: 1257px;
  height: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 70px auto; }
  @media (max-width: 719.9px) {
    .paid-plan__license {
      -ms-flex-direction: column;
          flex-direction: column;
      width: 100%;
      margin: 0 auto; } }

.license-content {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  width: 378px;
  height: 665px;
  background-color: white;
  box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
  margin: 0 auto; }
  @media (max-width: 719.9px) {
    .license-content {
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid lightblue; } }
  .license-content__header {
    margin-top: 53px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-align: center;
    color: #32325c; }
  .license-content__price {
    margin: 30px 0 20px 0;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
    color: #1fdb84; }
  .license-content__price p {
    font-size: 14px;
    color: #5b6c94;
    padding-top: 20px; }
  .license-content__description li {
    font-size: 16px;
    padding-top: 12px;
    text-align: center;
    color: #5b6c94;
    line-height: 2; }
  .license-content__description {
    margin-top: 65px; }
  .license-content__btn {
    margin-top: 10px;
    margin-left: 60px;
    width: 255px;
    height: 60px;
    border-radius: 5px; }
    @media (max-width: 719.9px) {
      .license-content__btn {
        width: 63%;
        margin-bottom: 15px; } }

.license-content:hover {
  border-top: 3px solid #0a8aff;
  cursor: pointer;
  -ms-transform: scale(1.03);
      transform: scale(1.03); }

.customers {
  width: 1257px;
  height: 970px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 719.9px) {
    .customers {
      margin-top: 529px; } }

.customers-header {
  width: 523px;
  height: 970px;
  background-color: white; }
  @media (max-width: 719.9px) {
    .customers-header {
      display: none; } }

.customers-slides {
  width: 724px;
  height: 970px;
  background-color: #313a5a; }
  @media (max-width: 719.9px) {
    .customers-slides {
      width: 25.5%;
      height: 620px; } }

.wrapper {
  height: 500px;
  margin: 200px auto 0;
  position: relative;
  width: 420px; }
  @media (max-width: 719.9px) {
    .wrapper {
      width: 100%;
      padding-top: 45px;
      margin: 0 auto; } }

.slider {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  border-radius: 7px;
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  @media (max-width: 719.9px) {
    .slider {
      width: 100%; } }

.wrapper > input {
  display: none; }

.slides {
  height: inherit;
  position: absolute;
  width: inherit; }

.slide1 {
  background-color: #1fdb84;
  width: 310px;
  height: 216px;
  padding: 141px 50px 141px 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
  color: white; }
  @media (max-width: 719.9px) {
    .slide1 {
      font-size: 14px;
      padding: 141px 50px 141px 40px; } }

.slide2 {
  background-color: white;
  width: 310px;
  height: 216px;
  padding: 141px 50px 141px 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
  color: #5b6c94; }
  @media (max-width: 719.9px) {
    .slide2 {
      font-size: 14px;
      padding: 141px 50px 141px 40px; } }

.slide3 {
  background-color: #1fdb84;
  width: 310px;
  height: 216px;
  padding: 141px 50px 141px 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
  color: white; }
  @media (max-width: 719.9px) {
    .slide3 {
      font-size: 14px;
      padding: 141px 50px 141px 40px; } }

.slide4 {
  background-color: white;
  width: 310px;
  height: 216px;
  padding: 141px 50px 141px 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
  color: #5b6c94; }
  @media (max-width: 719.9px) {
    .slide4 {
      font-size: 14px;
      padding: 141px 50px 141px 40px; } }

.slide5 {
  background-color: #1fdb84;
  width: 310px;
  height: 216px;
  padding: 141px 50px 141px 60px;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
  color: white; }
  @media (max-width: 719.9px) {
    .slide5 {
      font-size: 14px;
      padding: 141px 50px 141px 40px; } }

.wrapper .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute; }

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%; }

.wrapper label:after {
  border: 2px solid white;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%; }

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: background ease-in-out .5s; }

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: white; }

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -ms-transform: scale(1.5);
      transform: scale(1.5);
  transition: transform ease-in-out .5s, opacity ease-in-out .5s; }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  opacity: 1;
  z-index: 1;
  -ms-transform: scale(1);
      transform: scale(1); }

.footer {
  width: 1257px;
  height: 510px;
  margin: 0 auto;
  background-color: white; }
  @media (max-width: 719.9px) {
    .footer {
      width: 100%;
      margin: -420px auto; } }

.footer-container__logo {
  max-width: 1000px;
  height: 50px;
  margin: 0 auto; }
  .footer-container__logo img {
    padding-right: 25px; }
  @media (max-width: 719.9px) {
    .footer-container__logo {
      padding: 0 10px 15px 30px;
      margin-bottom: 30px; } }

h3 {
  text-align: center;
  padding: 150px 0 50px 0;
  color: #5b6c94; }

p {
  padding: 150px 0 50px 0;
  text-align: center;
  font-size: 16px; }
