@media screen and (max-width: 768px) and (min-width:575px)  {
  .page-wrapper {
    top: 250px;
    width: 100%;
    display: block;
    margin: 0 -15px auto;
  }

  .item {
    height: 135px;
    flex-basis: 13.100%;
  }

  .item-hire {
    height: 135px;
    flex-basis: 28.135%;
  }

  .item-about {
    height: 135px;
    flex-basis: 28.135%;
  }

  .item-blog{
    height: 135px;
    flex-basis: 43.435%;
  }

  .item-contact {

    height: 135px;
    flex-basis: 13.100%;
  }
}

@media screen and (max-width: 575px)  {
  .page-wrapper {
    margin-top: 230px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .item {
    height: 135px;
    flex-basis: 43.995%;
  }

  .item-hire {
    height: 135px;
    flex-basis: 92.735%;
  }

  .item-about {
    height: 135px;
    flex-basis: 92.735%;
  }

  .item-blog{
    height: 135px;
    flex-basis: 92.735%;
  }

  .item-contact {
    height: 135px;
    flex-basis: 92.735%;
  }

}